body {
	background-color: #777;
    text-align: center;
}

nav {
	width: 960px;
	height: 80px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 10px 0;
}

header {
	width: 960px;
	height: 80px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 10px 0;
}

div {
	width: 390px;
	height: 45px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	margin-left: 35px;
	margin-bottom: 10px;
	padding: 6px 0;
}

footer  {
	width: 960px;
	height: 80px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	margin-top: 240px;
	padding: 10px 0;
}

section {
	width: 495px;
	height: 288px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	float: left;
}
article {
	width: 465px;
	height: 200px; 	
	background-color: #777;
	text-align: center;
	font-family: sans-serif;
	color: #ebebeb;
	font-size: 18px;
	margin-right: 10px;
	margin-left: 13px;
	margin-bottom: 10px;

}

aside {
	width: 452px;
	height: 288px; 	
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	color: #777;
	font-size: 18px;
	float: left;
	margin-left: 14px;

}

